<br />
<div class="panel panel-default">
  <%if current_user.has_role?(:student)%>
      <br />
  <%end%>
    <div class="col-md-12">
        <h3 style="text-align: center"><i class="glyphicon glyphicon-calendar"></i> Cronologia</h3>        
        <br />
    </div>
    <div class="content-panel">
     <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <h3>Vida de Enrique</h3>
            <div class="caption">
              <br />
                <h4><i class="fa fa-angle-right"></i>Listado de Sucesos</h4>
                <hr>
                <table class="table">
                    <thead>
                    <tr>
                      <th>fecha</th>
                      <th>nombre</th>                     
                    </tr>
                    </thead>

                    <tbody>
                    <% @chronologies.each do |chronology| %>
                      <% if chronology.type_id == 1 %>
                        <tr>                  
                          <td><%= chronology.date.year %></td>
                          <td><%= chronology.event %></td>
                          <td>
                            <%= link_to chronology_path(chronology) do%>
                              <i class="glyphicon glyphicon-eye-open" ></i>
                            <%end%>
                          </td>
                        </tr>
                      <%end%>
                    <% end %>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <h3>Montajes realizados</h3>
            <div class="caption">
              <br />
                <h4><i class="fa fa-angle-right"></i>Listado de Sucesos</h4>
                <hr>
                <table class="table">
                    <thead>
                    <tr>
                      <th>fecha</th>
                      <th>nombre</th>                     
                    </tr>
                    </thead>

                    <tbody>
                    <% @chronologies.each do |chronology| %>
                     <% if chronology.type_id == 2 %>
                        <tr>                  
                          <td><%= chronology.date.year %></td>
                          <td><%= chronology.event %></td>
                          <td>
                            <%= link_to chronology_path(chronology) do%>
                              <i class="glyphicon glyphicon-eye-open" ></i>
                            <%end%>
                          </td>
                        </tr>
                      <%end%>
                    <% end %>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <h3>Contexto nacional</h3>
            <div class="caption">
              <br />
                <h4><i class="fa fa-angle-right"></i>Listado de Sucesos</h4>
                <hr>
                <table class="table">
                    <thead>
                    <tr>
                      <th>fecha</th>
                      <th>nombre</th>                     
                    </tr>
                    </thead>

                    <tbody>
                    <% @chronologies.each do |chronology| %>
                      <% if chronology.type_id == 3 %>
                        <tr>                  
                          <td><%= chronology.date.year %></td>
                          <td><%= chronology.event %></td>
                          <td>
                            <%= link_to chronology_path(chronology) do%>
                              <i class="glyphicon glyphicon-eye-open" ></i>
                            <%end%>
                          </td>
                        </tr>
                      <%end%>
                    <% end %>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>