<div class="panel panel-default">
    <div class="panel-heading">
        <h3 style="text-align: center"><i class="glyphicon glyphicon-th-list"></i> Detalle de la palabara <strong><%=@chronology.event%></h3>
    </div>
    <div class="panel-body"> 

        <div class="form-group col-xs-9">
            <strong>FEcha del evento</srong><br />
            <%t = @chronology.date%> <%= t.day.to_s + " " + t.strftime("%b") %>
			<%= t.strftime("%Y") %>
        </div>
        
        <div class="form-group col-xs-9">
            <strong>Nombre:</strong><br />
             <%=@chronology.event %>
        </div>  

         <div class="form-group col-xs-9">
            <strong>Descripcion:</strong><br />
             <%= @chronology.descripton %>
        </div> 

        <%if @chronology.url? %>
            <strong>video:</strong><br />
            <%= video_tag @chronology.url, :size => "320x240", :controls => true %>
        <%end%>

         <div class="form-group col-xs-9">
            <strong>Imagen:</strong><br />
            <% @chronology.photos.each do |photo| %>
                <%= image_tag photo.image.url(:thumb) %>
            <%end%>
        </div> 
        <div class="form-group col-xs-12">
            <%= link_to 'Atras', chronology_index_path, :class=>"btn btn-primary" %>
        </div>
                        
    </div>
</div>