<div class="panel panel-default">
    <div class="panel-heading">
        <h3 style="text-align: center"><i class="glyphicon glyphicon-italic"></i> Modificar la prosa <strong><%=@prose.name%></h3>
    </div>
    <div class="panel-body">   
        <%= form_for :prose, url: prose_path(@prose), method: :patch do |f| %>
            
            <div class="form-group col-xs-9">
                <%= f.label :Nombre_de_la_prosa %><br />
                <%= f.text_field :name, autofocus: true, placeholder: 'Digita nombre de prosa base',:class=>"form-control" %>
            </div>
            
            <div class="form-group col-xs-9">
                <%= f.label :Descripcion %><br />
                <%=f.text_area :description, autofocus: true, placeholder: 'Digita descripción de la prosa base... ',:class=>"form-control",:rows =>10,:style=>"resize:vertical"%>
            </div>  

            <div class="form-group col-xs-12">
                <%= f.submit "guardar", :class=>"btn btn-primary"%>
                 <%= link_to 'Atras', prose_index_path, :class=>"btn btn-primary" %>
            </div>
            
        <% end %>

                        
    </div>
</div>