<div class="panel panel-default">
  <div class="panel-heading">
    <h3 style="text-align: center"><i class="glyphicon glyphicon-italic">Nueva prosa base </i> 
  	</div>
		<div class="panel-body">
			<%= form_for :prose, url: prose_index_path do |f| %>
			  
			  <div class="form-group col-xs-9">
			    <strong><b><h2><font size="3" color="red"><%= notice %></font></h2></b></strong>
			  </div>

			  <div class="form-group col-xs-9">
			    <%= f.label :nombre_de_la_prosa %><br />
			    <%= f.text_field :name, autofocus: true, placeholder: 'Digita nombre de la nueva prosa base',:class=>"form-control" %>
			  </div>

			  <div class="form-group col-xs-9">
			    <%= f.label :Descripción %><br />
			    <%= f.text_area :description, placeholder: 'Digita descripción de la nueva prosa base...',:class=>"form-control",:rows =>10,:style=>"resize:vertical" %>
			  </div>
				
			   <div class="form-group col-xs-9">
    				<%= f.submit "Guardar",:class=>"btn btn-primary" %>
				</div>
			<% end %>
		</div>
 	 </div>
</div>