<div class="panel panel-default">
  <div class="panel-heading">
    <h3 style="text-align: center"><i class="glyphicon glyphicon-edit"></i> Nueva prosa base 
  </div>
<div class="panel-body">
<%= form_for :prose, url: prose_index_path do |f| %>

	  <div class="form-group col-xs-9">
	    <%= f.label :nombre_de_la_prosa %><br />
	    <%= f.text_field :name, autofocus: true, placeholder: 'Digita nombre de la nueva prosa base',:class=>"form-control" %>
	  </div>


	  <div class="form-group col-xs-9">
	    <%= f.label :Descripción %><br />
	    <%= f.text_area :description, placeholder: 'Digita nombre de la nueva prosa base',:class=>"form-control" %>
	  </div>
<div class="form-group col-xs-9">
    <%= f.submit "Guardar",:class=>"btn btn-primary" %>
</div>
<% end %>
</div>
  </div>
</div>