<div class="panel panel-default">
    <div class="panel-heading">
        <h3 style="text-align: center"><i class="glyphicon glyphicon-list-alt"></i> Modificar el subtema <strong><%=@subtopic.name%></h3>
    </div>
    <div class="panel-body">   
        <%= form_for :subtopic, url: subtopic_path(@subtopic), method: :patch do |f| %>
            
            <div class="form-group col-xs-9">
                <%= f.label :Nombre_del_subtema %><br />
                <%= f.text_field :name, autofocus: true, placeholder: 'Digita el subtema',:class=>"form-control" %>
            </div>
            
            <div class="form-group col-xs-9">
                <%= f.label :Descripcion %><br />
                <%=f.text_area :description, autofocus: true, placeholder: 'Digita descripción del subtema...',:class=>"form-control",:rows =>10,:style=>"resize:vertical"%>
            </div>  

            <div class="form-group col-xs-12">
                <%= f.submit "guardar", :class=>"btn btn-primary"%>
                 <%= link_to 'Atras', subtopic_index_path, :class=>"btn btn-primary" %>
            </div>
            
        <% end %>                        
    </div>
</div> 