<%= form_for :subtopic, url: subtopic_path(@subtopic), method: :patch do |f| %>
            
    <p>
        <%= f.label :Nombre_del_subtema %><br />
        <%= f.text_field :name %>
    </p>
    
    <p>
        <%= f.label :Descripcion %><br />
        <%= f.text_area :description %>                
    </p>
    
    <p>
        <%= f.submit "guardar" %>
    </p>
    
<% end %>