<div class="panel panel-default">
	<div class="panel-heading">
		<h3 style="text-align: center"><i class="glyphicon glyphicon-user"></i> Detalle del usuario <strong><%=@user.name%></h3>
  	</div>
    <div class="panel-body">

    	<div class="form-group col-xs-9">
           <strong>Documento de indentidad:</strong><br />
		 	 <%= @user.credential %>
     	</div>

     	<div class="form-group col-xs-9">
           <strong>Correo Electronico:</strong><br />
		 	 <%= @user.email %>
     	</div>

     	<div class="form-group col-xs-9">
           <strong>Intereses:</strong><br />
		 	 <%= @user.interest %>
     	</div>

     	<div class="form-group col-xs-9">
           <strong>Nivel Academico:</strong><br />
		 	 <%= @user.level %>
     	</div>

     	<div class="form-group col-xs-9">
           <strong>Materia matriculada:</strong><br />
		 	 <%= @user.subject %>

     	</div>

     	<div class="form-group col-xs-9">
           <strong>Semestre cursante:</strong><br />
		 	 <%= @user.semester %>
     	</div>

      <div class="form-group col-xs-9">
           <strong>Fecha de registro en plataforma:</strong><br />
       <% t= @user.created_at%><%= t.day.to_s + " " + t.strftime("%b") %> <%= t.strftime("%Y") %>
      </div>	

      <div class="form-group col-xs-9">
          <strong>Ultima conección:</strong><br />
          <% t = @user.last_sign_in_at %><%= t.day.to_s + " " + t.strftime("%b") %> <%= t.strftime("%Y") %>
      </div>

     	<%if @user.has_role?(:user)%>
     		<div class="form-group col-xs-9">
				<%= link_to student_path, method: :PATCH, data: {confirm: 'Esta seguro que desea cambiar el rol del usuario'} do%>
	  				<i>Habilitar</i>
				<%end%> 
			</div>
     	<%elsif @user.has_role?(:student)%>
     		<div class="form-group col-xs-9">
				<%= link_to student_path, method: :PATCH, data: {confirm: 'Esta seguro que desea cambiar el rol del usuario'} do%>
	  				<i>Bloquear</i>
				<%end%> 
			</div>
     	<%end%>

		
	</div>
</div>