<div id="main">	
	<div class="wrapper">
		<div id="slider-holder" class="clearfix">			
			<!-- slider -->
	        <div class="flexslider home-slider">
			  <ul class="slides">
			    <li>
			      <%= image_tag "01.jpg", :alt=>"alt text" %>
			      <p class="flex-caption">El maestro Enrique Buenaventura.</p>
			    </li>
			    <li>
			     <%= image_tag "02.jpg", :alt=>"alt text" %>
			      <p class="flex-caption">Pintura del maestro Enrique Buenaventura.</p>
			    </li>
			    <li>
			      <%= image_tag "03.jpg", :alt=>"alt text" %>
			      <p class="flex-caption">El maestro Enrique Buenaventura.</p>
			    </li>
			    <li>
			      <%= image_tag "04.jpg", :alt=>"alt text" %>
			      <p class="flex-caption">El maestro maquillando.</p>
			    </li>
			    <li>
			      <%= image_tag "05.jpg", :alt=>"alt text" %>
			      <p class="flex-caption">El maestro Enrique Buenaventura.</p>
			    </li>			    			    
			  </ul>
			</div>       	
        	<div class="home-slider-clearfix "></div>
        	<div id="headline">
				<center><%= image_tag "avatar.jpg", :width=>"100",:class=>"img-circle" %></center>
        		<h1>Mario Cardona</h1> 
        		<p>Profesor de la facultad de artes de la Universidad de Antioquia. <br>
        		<a href="#">Ver más...</a>
        		</p>       		
        		<em id="corner"></em>
        	</div>
		</div>      	
	</div>
</div>

<div class="home-block" >
	<h2 class="home-block-heading"><span>Articulos</span></h2>
	<div class="one-third-thumbs clearfix" >
		<% @articles.each do |article|%>
			<%if article.statepublic == true%>
				<figure>
					<figcaption>
						<strong><%= article.name %></strong>
						<span><% u= @users.find(article.user_id)%><%= u.name %></span>
						<em><% t=  article.date %> <%= t.day.to_s + " " + t.strftime("%b") %> <%= t.strftime("%Y") %></em>
						<span><%= article.decription %></span>	
						<a href="single.html" class="opener"></a>
					</figcaption>
					<%= link_to document_article_path(@document, article, format: "pdf"), :class=>"thumb" do%>
						<%= image_tag "featured-1.jpg", :alt=>"Alt text"%>
					<%end%>
				</figure>
			<%end%>
		<%end%>
	</div>
</div>



