<br />
<div class="panel panel-default">
    <div class="col-md-12">
        <h3 style="text-align: center"><i class="glyphicon glyphicon-file"></i> Lista de documentos disponibles</h3>
            <hr>
    </div>
    <div class="content-panel">
      <table class="table">
          <thead>
          <tr>
            <th>Fecha de creacion</th>
            <th>Nombre del documento</th>
            <th>Descripcion</th>
          </tr>
          </thead>

          <tbody>

            <% @documents.each do |document| %>
              <tr>
                <td><%= document.date %></td>
                <td><%= document.name %></td>
                <td><%= document.description %></td>
                <td>
                <%= link_to document_path(document) do%>
                  <i class="glyphicon glyphicon-eye-open" ></i>
                <%end%> 
                </td>

                <% if current_user.has_role?(:admin) %>  
                    <td>                      
                      <%= link_to edit_document_path(document) do%>
                        <i class="glyphicon glyphicon-wrench" ></i>
                      <%end%> 
                    </td>
                    <td>
                        <%= link_to document, method: :delete, data: {confirm: 'Esta seguro de eliminar este tag'} do%>
                          <i class="glyphicon glyphicon-trash" ></i>
                        <%end%> 
                    </td>
                <% end %>      
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
</div>



