<h3><i class="fa fa-angle-right"></i> Ingresar un nuevo documento del maestro Enrique Buenaventura</h3>
<br />
<div class="col-md-12">
    <div class="content-panel">
    <h4><i class="fa fa-angle-right"></i> LIngrese la informacion necesaria con respecto al docuemto a ingresar</h4>
        <hr>    
        <%= form_for :document, url: document_index_path do |f| %>            
            <p>
                <%= f.label :nombre_del_documento %><br />
                <%= f.text_field :name %>
            </p>
            
            <p>
                <%= f.label :Descripción %><br />
                <%= f.text_area :description %>                
            </p>

            <p>
                <%= f.label :date %><br />
                <%= f.date_field :date %>
            </p>
            
            <p>
                <%= f.label :Autor %><br />
                <%= f.text_field :autor%>
            </p> 

            <p>
                <%= f.label :Prosa_base %><br />              
                <%= f.collection_select(:prose_id, @proses, :id, :name, {:prompt => 'Seleccione una prosa base'}, 
                { :class => 'select', :selected => params[:id]},) %>
            </p> 

            <p>
                <%= f.label :Tipo_de_documento %><br />              
                <%= f.collection_select(:speciality_id, @types, :id, :name, {:prompt => 'Seleccione un tipo de documento'}, 
                { :class => 'select', :selected => params[:id]}) %>
            </p> 

            <p>
                <%= f.label :Subtemas %><br />              
                <%= f.collection_select(:subtopic_id, @subtopics, :id, :name, {:prompt => 'Seleccione un subtema'}, 
                { :class => 'select', :selected => params[:id]}) %>
            </p>

            <%= fields_for(@document_author) do |da| %>
                <p>
                    <%= da.label "Autores" %><br />
                    <%=  collection_select(:authors, :id, @all_authors, :id, :name, {}, {:multiple => true}) %>

                </p>
            <%  end %>

            <%= fields_for(@document_book) do |da| %>
                <p>
                    <%= da.label "Libros" %><br />
                    <%=  collection_select(:books, :id, @all_books, :id, :name, {}, {:multiple => true}) %>

                </p>
            <%  end %>





            <p>
                <%= f.label :Documento %>
                <%= f.file_field :attachment %>
            </p>
            
            <p>
                <%= f.submit "guardar" %>
            </p> 
        <% end %>

        <%= link_to 'Atras', document_index_path %>                 
    </div>
</div>



