<div class="panel panel-default">
  <div class="panel-heading">
  <h3 style="text-align: center"><i class="glyphicon glyphicon-file"></i> Nuevo documento del maestro Enrique Buenaventura</h3>
  </div>
  <div class="panel-body">
    <%= form_for :document, url: document_index_path do |f| %> 

      <div class="form-group col-xs-9">
        <%= f.label :Numero_del_documento %><br />
        <%= f.text_field :number, autofocus: true, placeholder: 'Digita nombre del nuevo documento',:class=>"form-control" %>
      </div>

      <div class="form-group col-xs-9">
        <%= f.label :nombre_del_documento %><br />
        <%= f.text_field :name, autofocus: true, placeholder: 'Digita nombre del nuevo documento',:class=>"form-control" %>
      </div>

      <div class="form-group col-xs-9">
        <%= f.label :Descripci贸n %><br />
        <%= f.text_area :description, autofocus: true, placeholder: 'Digita una breve descripci贸n del nuevo documento ',:class=>"form-control",:rows =>15%>
      </div> 

      <div class="form-group col-xs-9">
        <%= f.label :Estado %><br />
        <%= f.text_area :status, autofocus: true, placeholder: 'Digita una breve descripci贸n del nuevo documento ',:class=>"form-control",:rows =>10%>
      </div> 

      <div class="form-group col-xs-9">
        <%= f.label :Fecha_De_publicacion_Documento %><br />
        <%= f.date_field :date, :class=>"form-control" %>
        <p class="help-block">Solo se permiten la fecha en caso de que este fuese publicado</p>
      </div>

      <div class="form-group col-xs-9">
        <%= f.label :Lugar_de_publicacion %><br />
        <%= f.text_area :place, autofocus: true, placeholder: 'Digita una breve descripci贸n del nuevo documento ',:class=>"form-control"%>
        <p class="help-block">Solo se permiten el lugar en caso de que este fuese publicado</p>
      </div> 

      <div class="form-group col-xs-9">
        <%= f.label :Autor %><br />
        <%= f.text_field :autor, :value => 'Enrique Buenaventura', autofocus: true, :class=>"form-control"%>
      </div>   

        <div class="form-group col-xs-9">
            <%= f.label :Prosa_base %><br />              
            <%= f.collection_select(:prose_id, @proses, :id, :name, {:prompt => 'Seleccione una prosa base'}, { :class =>"form-control", :selected => params[:id]}) %>
        </div> 

        <div class="form-group col-xs-9">
            <%= f.label :Tipo_de_documento %><br />              
            <%= f.collection_select(:speciality_id, @types, :id, :name, {:prompt => 'Seleccione un tipo de documento'}, 
            { :class =>"form-control", :selected => params[:id]}) %>
        </div> 

        <div class="form-group col-xs-9">
            <%= f.label :Subtemas %><br />              
            <%= f.collection_select(:subtopic_id, @subtopics, :id, :name, {:prompt => 'Seleccione un subtema'}, 
            { :class =>"form-control", :selected => params[:id]}) %>
        </div>

        <div class="form-group col-xs-9">
          <%= fields_for(@document_author) do |da| %>
            <%= da.label "Autores trabajados" %><br />
            <%=  collection_select(:authors, :id, @all_authors, :id, :name, {}, {:multiple => true, :class=>"form-control"}) %>
          <%  end %>
        </div>

        <div class="form-group col-xs-9">
          <%= fields_for(@document_book) do |da| %>
            <%= da.label "Libros" %><br />
            <%=  collection_select(:books, :id, @all_books, :id, :name, {}, {:multiple => true, :class=>"form-control"}) %>
         <%  end %>
        </div>
        
        <div class="form-group col-xs-9">
            <%= f.label :Cargar_documento %>
            <%= f.file_field :attachment,:class=>"form-control" %>
            <p class="help-block">Solo se permiten documentos en formato PDF</p>
        </div>
        
        <div class="form-group col-xs-12">
            <%= f.submit "guardar", :class=>"btn btn-primary" %>
            <%= link_to 'Lista de documentos', document_index_path, :class=>"btn btn-primary"  %>
        </div> 
    <% end %>
  </div>
</div>

