<div class="panel panel-default">
	<div class="panel-heading">
		<h3 style="text-align: center"><i class="glyphicon glyphicon-file"></i> Detalle del documento <strong><%=@document.name%></h3>
  	</div>
    <div class="panel-body">

    	<div class="form-group col-xs-9">
        	<strong>Numero del documento:</strong><br />
		  	<%= @document.number %>	
     	</div>

    	<div class="form-group col-xs-9">
        	<strong>Descripcion:</strong><br />
		  	<%= @document.description %>	
     	</div>

     	<div class="form-group col-xs-9">
        	<strong>Estado:</strong><br />
		  	<%= @document.status %>	
     	</div>

		<div class="form-group col-xs-9">
		  <strong>Fecha de publicado:</strong><br />
		  <% t = @document.date %><%= t.day.to_s + " " + t.strftime("%b") %> <%= t.strftime("%Y") %>
		</div>

		<div class="form-group col-xs-9">
        	<strong>Lugar de publicacion:</strong><br />
		  	<%= @document.place %>	
     	</div>

		<div class="form-group col-xs-9">
		  <strong>Autor(es):</strong><br />
		  <%= @document.autor %>
		</div>

		<div class="form-group col-xs-9">
		  <strong>Prosa:</strong><br />
		  <%= @prose.find(@document.prose_id).name %>
		</div>

		<div class="form-group col-xs-9">
		  <strong>Tipo de documento:</strong><br />
		  <%= @speciality.find(@document.speciality_id).name %>
		</div>

		<div class="form-group col-xs-9">
		  <strong>Subtema:</strong><br />
		  <%= @subtopic.find(@document.subtopic_id).name %>
		</div>

		<div class="form-group col-xs-9">
			<strong>Autores trabajados</strong><br />
			<ul>
				<% @authors.each do |f| %>
				<li><%= @author.find(f.author_id).name %></li>
				<%end%>
			</ul>
		</div>

		<div class="form-group col-xs-9">
			<strong>libros trabajados</strong><br />
			<ul>			
				<% @books.each do |f| %>
				<li><%= @book.find(f.book_id).name %></li>
				<%end%>	
			</ul>		
		</div>

		<div class="form-group col-xs-9">
			<%= link_to 'Atras', document_index_path ,:class=>"btn btn-primary" %>
			<%= link_to 'ver el documento', @document.attachment_url, :target => "_blank", :class=>"btn btn-primary" %>
			<%= link_to 'Generar un nuevo documento de analizis', new_document_article_path(@document), :controller => "article",  :action => "new" ,
			:class=>"btn btn-primary" %>
		</div>
	</div>
</div>