<div class="panel panel-default">
	<div class="panel-heading">
		<h3 style="text-align: center"><i class="glyphicon glyphicon-file"></i> Detalle del documento <strong><%=@document.name%></h3>
  	</div>
    <div class="panel-body">

    	<div class="row" style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 80px;" >
	        <div class="col-xs-6 col-md-3"><b>Numero del documento:</b></div>
	        <div class="col-xs-6 col-md-3"><%= @document.number %></div>
	        <div class="col-xs-6 col-md-3">Descripcion:</div>
	        <div class="col-xs-6 col-md-3"><%= @document.description %></div>
	    </div>

	    <div class="row" style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 80px;" >
	        <div class="col-xs-6 col-md-3"><strong>Estado:</strong></div>
	        <div class="col-xs-6 col-md-3"><%= @document.status %></div>
	        <div class="col-xs-6 col-md-3">Fecha de publicación:</div>
	        <% if !@document.date.blank? %>
              <div class="col-xs-6 col-md-3"><% t = @document.date %><%= t.day.to_s + " " + t.strftime("%b") %> <%= t.strftime("%Y") %></div>
            <%else%>
              <div class="col-xs-6 col-md-3"><p>N/A</p></div>
            <%end%>	        
	    </div>

	    <div class="row" style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 80px;" >
	        <div class="col-xs-6 col-md-3"><strong>Lugar de publicacion:</strong></div>	        
	        <% if !@document.place.blank? %>
              <div class="col-xs-6 col-md-3"><%= @document.place %></div>
            <%else%>
              <div class="col-xs-6 col-md-3"><p>N/A</p></div>
            <%end%>
	        <div class="col-xs-6 col-md-3"><strong>Fecha de carga:</strong></div>
	        <div class="col-xs-6 col-md-3"><% t=  @document.created_at %> <%= t.day.to_s + " " + t.strftime("%b") %> <%= t.strftime("%Y") %></div>
	    </div>

	    <div class="row" style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 80px;" >
	        <div class="col-xs-6 col-md-3"><strong>Autor(es):</strong></div>
	        <div class="col-xs-6 col-md-3"><%= @document.autor %></div>
	        <div class="col-xs-6 col-md-3">Prosa:</div>
	        <div class="col-xs-6 col-md-3"><%= @prose.find(@document.prose_id).name %></div>
	    </div>

	    <div class="row" style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 80px;" >
	        <div class="col-xs-6 col-md-3"><strong>Tipo de documento:</strong></div>
	        <div class="col-xs-6 col-md-3"><%= @speciality.find(@document.speciality_id).name %></div>
	        <div class="col-xs-6 col-md-3">Subtema:</div>
	        <div class="col-xs-6 col-md-3"><%= @subtopic.find(@document.subtopic_id).name %></div>
	    </div>

	    <div class="row" style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 80px;" >
	        <div class="col-xs-6 col-md-3"><strong>Autores trabajados:</strong></div>
	        <div class="col-xs-6 col-md-3">
				<% @authors.each do |f| %>
					<%= @author.find(f.author_id).name %><br />
				<%end%>
			</div>
	        <div class="col-xs-6 col-md-3">Libros trabajados:</div>
	        <div class="col-xs-6 col-md-3">			
				<% @books.each do |f| %>
					<%= @book.find(f.book_id).name %><br />
				<%end%>	
	        </div>
	    </div>

	    <div class="row" style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 80px;" >
	        <div class="col-xs-6 col-md-3 centered">
	        	<%= link_to 'Atras', document_index_path ,:class=>"btn btn-primary" %>
	        </div>
	        <div class="col-xs-6 col-md-3 centered">
	        	<%= link_to 'Ver el documento', @document.attachment_url, :target => "_blank", :class=>"btn btn-primary" %>
	        </div>
	        <div class="col-xs-6 col-md-3 centered">
	        	<%= link_to 'Generar un nuevo documento de analisis', new_document_article_path(@document), :controller => "article",  :action => "new" ,
				:class=>"btn btn-primary" %>
	        </div>
	    </div>

	</div>
</div>