<h3><i class="fa fa-angle-right"></i> Detalle del documento con nombre: <strong><%=@document.name%></h3>
<br />
<div class="col-md-12">
    <div class="content-panel">
        <h4><i class="fa fa-angle-right"></i> informacion del documento</h4>
        <hr>
		<p>
		  <strong>Name:</strong>
		  <%= @document.name %>
		</p>

		<p>
		  <strong>Descripcion:</strong>
		  <%= @document.description %>
		</p>

		<p>
		  <strong>Fecha de publicado:</strong>
		  <%= @document.date %>
		</p>

		<p>
		  <strong>Autor:</strong>
		  <%= @document.autor %>
		</p>

		<%= link_to 'Atras', document_index_path %><br />
		<%= link_to 'ver el documento', @document.attachment_url, :target => "_blank" %><br />
		<%= link_to 'Generar un nuevo documento de analizis', new_document_article_path(@document), :controller => "article",  :action => "new", :doc => 
		 @document %>
	</div>
</div>