<div class="panel panel-default">
    <div class="panel-heading">
        <h3 style="text-align: center"><i class="glyphicon glyphicon-th-list"></i> Modificar la palabara <strong><%=@word.word%></h3>
    </div>
    <div class="panel-body">   
        <%= form_for :word, url: glosary_path(@word), method: :patch do |f| %>
            
            <div class="form-group col-xs-9">
                <%= f.label :nombre_de_la_palabra %><br />
                <%= f.text_field :word, autofocus: true, placeholder: 'Digita la palabra',:class=>"form-control" %>
            </div>
            
            <div class="form-group col-xs-9">
                <%= f.label :Descripcion %><br />
                <%=f.text_area :description, autofocus: true, placeholder: 'Digita la definición de la palabra',:class=>"form-control",:rows =>10,:style=>"resize:vertical"%>
            </div>  

            <div class="form-group col-xs-12">
                <%= f.submit "guardar", :class=>"btn btn-primary"%>
                 <%= link_to 'Atras', glosary_index_path, :class=>"btn btn-primary" %>
            </div>
            
        <% end %>                        
    </div>
</div> 