<br />
<div class="panel panel-default">
  <%if current_user.has_role?(:student)%>
      <br />
  <%end%>
    <div class="col-md-12">
        <h3 style="text-align: center"><i class="glyphicon glyphicon-th-list"></i> Glosario</h3>
        <br />
    </div>
    <div class="col-md-12">      
      <div class="row">
        <div class="col-lg-6">          
          <%= form_tag(glosary_index_path, :method => "get", class: "input-group", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], :class=>"form-control", placeholder: "Buscar elemento de analisis por nombre"%>
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Buscar</i></button>
            </span>
          <% end %>
        </div>
      </div>
      <%if current_user.has_role?(:student)%>
            <br />
      <%end%>
      <hr>
    </div>
    <div class="content-panel">
        <hr>
      <table class="table">
          <thead>
          <tr>
            <th>Palabra</th>
            <th>Descripcion</th>         
          </tr>
          </thead>

          <tbody>
          <% @words.each do |word| %>
            <tr>
              <td><%= word.word %></td>
              <td><%= truncate(word.description, :length => 100) %></td>


              <td>
                <%= link_to glosary_path(word), :title=>"Ver" do%>
                  <i class="glyphicon glyphicon-eye-open" ></i>
                <%end%>
              </td>

              <%if current_user.has_role?(:admin)%>


              <td>
                <%= link_to edit_glosary_path(word), :title=>"Editar" do%>
                  <i class="glyphicon glyphicon-wrench" ></i>
                <%end%>
              </td>
                <td><%= link_to glosary_path(word), method: :delete, :title=>"Eliminar", 
                              data: {confirm: '¿Esta seguro de eliminar esta palabra?'} do%>
                <i class="glyphicon glyphicon-trash" ></i>
                <%end%>              
                </td>
              <%end%>     
                                   
            </tr>
          <% end %>
          </tbody>
      </table>
    </div>
</div>