<br />
<div class="panel panel-default">
    <div class="col-md-12">
        <h3 style="text-align: center"><i class="glyphicon glyphicon-th-list"></i> Glosario</h3>
        <hr>
    </div>
    <div class="content-panel">
        <hr>
      <table class="table">
          <thead>
          <tr>
            <th>Palabra</th>
            <th>Descripcion</th>         
          </tr>
          </thead>

          <tbody>
          <% @words.each do |word| %>
            <tr>
              <td><%= word.word %></td>
              <td><%= word.description %></td>

              <%if current_user.has_role?(:admin)%>
                <td><%= link_to 'EDITAR', edit_glosary_path(word) %></td>
                <td><%= link_to 'ELIMINAR', glosary_path(word), method: :delete, 
                              data: {confirm: 'Esta seguro de eliminar este articulo'} %></td>
              <%end%>

              <td><%= link_to 'VER', glosary_path(word) %></td>              
            </tr>
          <% end %>
          </tbody>
      </table>
    </div>
</div>