<div class="panel panel-default">
  <div class="panel-heading">
    <h3 style="text-align: center"><i class="glyphicon glyphicon-th-list"> Nueva palabra</i>
  	</div>
		<div class="panel-body">
			<%= form_for :word, url: glosary_index_path do |f| %>

			  <div class="form-group col-xs-9">
			    <%= f.label :nombre_de_la_palabra  %><br />
			    <%= f.text_field :word, autofocus: true, placeholder: 'Digita la nueva palabra',:class=>"form-control" %>
			  </div>

			  <div class="form-group col-xs-9">
			    <%= f.label :Descripción %><br />
			    <%= f.text_area :description, placeholder: 'Digita  la definición...',:class=>"form-control",:rows =>10,:style=>"resize:vertical" %>
			  </div>
				
			   <div class="form-group col-xs-9">
    				<%= f.submit "Guardar",:class=>"btn btn-primary" %>
				</div>
			<% end %>
		</div>
 	 </div>
</div>
