<br />
<div class="panel panel-default">
    <div class="col-md-12">
        <h3 style="text-align: center"><i class="glyphicon glyphicon-font"></i> Autores citados</h3>
        <%if current_user.has_role?(:student)%>
            <br />
        <%end%>
        <hr>
    </div>
    <div class="content-panel">
        <hr>
      <table class="table">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>         
          </tr>
          </thead>

          <tbody>
          <% @authors.each do |author| %>
            <tr>
              <td><%= author.name %></td>
              <td><%= truncate(author.description, :length => 100) %></td>

              <td><%= link_to 'VER', authors_worked_path(author) %></td>  
              <%if current_user.has_role?(:admin)%>
                <td><%= link_to 'EDITAR', edit_authors_worked_path(author) %></td>
                <td><%= link_to 'ELIMINAR', authors_worked_path(author), method: :delete, 
                              data: {confirm: 'Esta seguro de eliminar este articulo'} %></td>
              <%end%>                          
            </tr>
          <% end %>
           </tbody>
      </table>
    </div>
</div>