<div class="panel panel-default">
  <div class="panel-heading">
    <h3 style="text-align: center"><i class="gglyphicon glyphicon-font">Nuevo autor trabajado</i>
  	</div>
		<div class="panel-body">
			<%= form_for :author, url: authors_worked_index_path do |f| %>

			  <div class="form-group col-xs-9">
	            <strong><b><h2><font size="3" color="red"><%= notice %></font></h2></b></strong>
              </div>  

			  <div class="form-group col-xs-9">
			    <%= f.label :nombre_del_autor  %><br />
			    <%= f.text_field :name, autofocus: true, placeholder: 'Digita nombre del autor',:class=>"form-control" %>
			  </div>

			  <div class="form-group col-xs-9">
			    <%= f.label :Descripción %><br />
			    <%= f.text_area :description, placeholder: 'Digita  la descripcion del autor',:class=>"form-control",:rows =>10,:style=>"resize:vertical" %>
			  </div>
				
			   <div class="form-group col-xs-9">
    				<%= f.submit "Guardar", :class=>"btn btn-primary" %>
				</div>
			<% end %>
		</div>
 	 </div>
</div>
