      <aside>
          <div id="sidebar"  class="nav-collapse" style="overflow: scroll;">

              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">              
              	  <p class="centered"><a href=""> <%= image_tag "ui-sam.jpg", class: "img-circle", size: "60"%></a></p>
              	  <h5 class="centered">Mario Cardona</h5>            	  	
                  
                  <hr width="70%">

                  <li class="sub-menu">
                    <i></i>                 
                    <%= link_to manager_root_path do%>
                      <span class="glyphicon glyphicon-home">&nbsp;</span><spam>INICIO</spam>                        
                    <%end%>                                    
                  </li>

                  <li class="sub-menu">
                    <%= link_to "javascript:;" do%>
                      <i></i>
                      <span class="glyphicon glyphicon-user">&nbsp;</span><spam>USUARIOS</spam>
                    <%end%>
                      <ul class="sub">                          
                          <li><%= link_to 'Listar Usuarios Activos', students_path %></li>
                          <li><%= link_to 'Listar Usuarios Inactivos', students_indexN_path %></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                  <%= link_to "javascript:;" do%>
                    <i></i>
                    <span class="glyphicon glyphicon-file">&nbsp;</span><spam>DOCUMENTOS</spam>
                    <span class="dcjq-icon"></span>
                  <%end%>                  
                      <ul class="sub">
                          <li><%= link_to 'Listar Documentos', document_index_path %></li>                          
                          <li><%= link_to 'Agregar Documento', new_document_path %></li>                          
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i></i>
                          <span class="glyphicon glyphicon-pencil">&nbsp;</span><span>ELEMENTOS DE ANÁLISIS</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'Elementos Creados', document_article_index_path(:document_id) %></li>
                          <li><%= link_to 'Elementos Eliminados', document_article_indexDeleted_path(:document_id) %></li>
                      </ul>
                  </li> 

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i></i>
                          <span class="glyphicon glyphicon-italic">&nbsp;</span><span>PROSA BASE</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'Listar Prosas Base', prose_index_path %></li>
                      </ul>
                      <ul class="sub">
                          <li><%= link_to 'Agregar Prosa Base', new_prose_path %></li>
                      </ul>
                  </li>  

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i></i>
                          <span class="glyphicon glyphicon-tags">&nbsp;</span><span>TIPO DE DOCUMENTO</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'Listar Tipos', speciality_index_path %></li>
                      </ul>
                      <ul class="sub">
                          <li><%= link_to 'Agregar Tipo', new_speciality_path %></li>
                      </ul>
                  </li> 

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i></i>
                          <span class="glyphicon glyphicon-list-alt">&nbsp;</span><span>SUBTEMA</span>
                      </a>
                       <ul class="sub">
                          <li><%= link_to 'Listar Subtemas', subtopic_index_path %></li>
                      </ul>
                      <ul class="sub">
                          <li><%= link_to 'Agregar Subtema', new_subtopic_path %></li>
                      </ul>
                  </li>                

                  <li class="sub-menu">
                  <%= link_to "javascript:;" do%>
                    <i></i>
                    <span class="glyphicon glyphicon-th-list">&nbsp;</span> <spam>GLOSARIO</spam>
                    <span class="dcjq-icon"></span>
                  <%end%>                  
                      <ul class="sub">
                          <li><%= link_to 'Listar Palabras', glosary_index_path %></li>
                      </ul>
                      <ul class="sub">
                          <li><%= link_to 'Agregar Palabra', new_glosary_path %></li>
                      </ul>
                  </li>  

                  <li class="sub-menu">
                  <%= link_to "javascript:;" do%>
                    <i></i>
                    <span class="glyphicon glyphicon-font">&nbsp;</span> <spam>AUTORES CITADOS</spam>
                    <span class="dcjq-icon"></span>
                  <%end%>                  
                      <ul class="sub">                          
                          <li><%= link_to 'Listar Autores', authors_worked_index_path %></li>
                      </ul>
                      <ul class="sub">                          
                          <li><%= link_to 'Agregar Autor', new_authors_worked_path %></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                  <%= link_to "javascript:;" do%>
                    <i></i>
                    <span class="glyphicon glyphicon-book">&nbsp;</span> <spam>BIBLIOGRAFÍA CITADA</spam>
                    <span class="dcjq-icon"></span> 
                  <%end%>                  
                      <ul class="sub">
                          <li><%= link_to 'Listar Libros', books_worked_index_path %></li>
                      </ul>
                      <ul class="sub">                          
                          <li><%= link_to 'Agregar Libro', new_books_worked_path %></li>
                      </ul>
                  </li> 

                                                                   <li class="sub-menu">
                  <%= link_to "javascript:;" do%>
                    <i></i>
                    <span class="glyphicon glyphicon-calendar">&nbsp;</span> <spam>CRONOLOGÍA</spam>
                    <span class="dcjq-icon"></span>
                  <%end%>                  
                      <ul class="sub">
                          <li><%= link_to 'Album Cronológico', chronology_index_path %></li>
                       </ul>
                       <ul class="sub">
                          <li><%= link_to 'Agregar Suceso', new_chronology_path %></li>
                      </ul>
                  </li>
                  
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>