<a href="index.html" id="logo">Aca va el logo</a>
<% if user_signed_in? %>
	<nav>
		<ul id="nav" class="sf-menu">			
			<li class="current-menu-item"><%= link_to "Inicio", welcome_index_path %></li>
			<li><%= link_to "Documentos", document_index_path %></li>			
			<li><%= link_to "Elementos de analizis", document_article_index_path(:document_id) %></li>			
			<li><%= link_to "Autores citados", document_index_path, :class=>"objeto"%></li>			
			<li><%= link_to "Bibliografia citada", document_index_path, :class=>"objeto"%></li>			
			<li><%= link_to "Glosario", document_index_path, :class=>"objeto"%></li>			
			<li><%= link_to "Cronologia", document_index_path, :class=>"objeto"%></li>			  
  			<li><%= link_to "Cerrar sesion", destroy_user_session_url, method: :delete%></li> 
		</ul>
		<div id="combo-holder"></div>
	</nav>
<% end %>
