<div class="container">
	<div class="btn-group btn-group-lg menu">
		<%= link_to "Documentos", document_index_path, :type=>"a", :class=>"objeto"%>
		<%= link_to "Elementos de análisis", document_index_path, :class=>"objeto"%>
		<%= link_to "Autores citados", document_index_path, :class=>"objeto"%>
		<%= link_to "Bibliografía citada", document_index_path, :class=>"objeto"%>
		<%= link_to "Glosario",  glosary_index_path, :class=>"objeto"%>
		<%= link_to "Cronología", document_index_path, :class=>"objeto"%>
	</div>	
</div>	

<hr width="0%">