<div class="container">
	<div class="btn-group btn-group-lg menu">
		<%= link_to "Documentos", document_index_path, :type=>"a", :class=>"objeto"%>
		<%= link_to "Elementos de analizis", document_index_path, :class=>"objeto"%>
		<%= link_to "Autores citados", document_index_path, :class=>"objeto"%>
		<%= link_to "Bibliografia citada", document_index_path, :class=>"objeto"%>
		<%= link_to "Glosario", document_index_path, :class=>"objeto"%>
		<%= link_to "Cronologia", document_index_path, :class=>"objeto"%>
	</div>	
</div>	

<hr width="0%">