<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>Enrique Buenaventura</title>
		<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	
	<body data-no-turbolink="false">

	<header class="clearfix">
		<div class="wrapper clearfix">
			<%= render 'layouts/header' if @have_sidebar %>
		</div>
	</header>	
	<div id="main">	
		<div class="wrapper">
			<%= yield %>
		</div>      	
	</div>



	</body>
</html>
