<br />
<div class="panel panel-default">
  <%if current_user.has_role?(:student)%>
    <br />
  <%end%>
    <div class="col-md-12">
        <h3 style="text-align: center"><i class="glyphicon glyphicon-book"></i> Bibliografia citada</h3>       
        <br />        
    </div>
    <div class="col-md-12">      
      <div class="row">
        <div class="col-lg-6">          
          <%= form_tag(books_worked_index_path, :method => "get", class: "input-group", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], :class=>"form-control", placeholder: "Buscar libro por nombre"%>
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Buscar</i></button>
            </span>
          <% end %>
        </div>
      </div>
      <%if current_user.has_role?(:student)%>
        <br />
      <%end%>
      <hr>
    </div>
    <div class="content-panel">
        <hr>
      <table class="table">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>         
          </tr>
          </thead>

          <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= book.name %></td>
              <td><%= truncate(book.description, :length => 100) %></td>

              <td><%= link_to 'VER', books_worked_path(book) %></td> 
              <%if current_user.has_role?(:admin)%>
                <td><%= link_to 'EDITAR', edit_books_worked_path(book) %></td>
                <td><%= link_to 'ELIMINAR', books_worked_path(book), method: :delete, 
                              data: {confirm: 'Esta seguro de eliminar este articulo'} %></td>
              <%end%>                           
            </tr>
          <% end %>
           </tbody>
      </table>
    </div>
</div>